# PostgreSQL Configuration
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=haccp

# Application Database Connection (used by HACCP app)
DATABASE_HOST=postgres
DATABASE_PORT=5432
DATABASE_NAME=haccp
DATABASE_USER=postgres
DATABASE_PASSWORD=postgres

# Initial Admin User (created on first startup if DB is empty)
ADMIN_USERNAME=admin
ADMIN_PASSWORD=admin
